<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Produk test</h2>
      <hr />
      <form id="cari" class="form-inline container-fluid">
        <input
          type="text"
          id="name"
          #name
          placeholder="Cari..."
          class="col-xs-6"
          required
        />
        <button (click)="onSearch(name.value)" (click)="clearing()"  class="button btn btn-xs btn-success">
          cari
        </button>
      </form>
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
