<button [routerLink]="['/produk']" type="button" class="button btn btn-xs btn-warning">Kembali</button>

<table *ngIf="response" class="table table-striped">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Image</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Price</th>
      <th>Stock</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produk of response">
      <td>{{produk.id}}</td>
      <td>{{produk.title}}</td>
      <td><img [src]="produk.thumbnail" class="img-fluid" height="100" width="100" style="border-radius: 10%;" alt="{{produk.title}}"></td>
      <td>{{produk.brand}}</td>
      <td>{{produk.category}}</td>
      <td>{{produk.description}}</td>
      <td>{{produk.rating}}</td>
      <td>{{produk.price}}</td>
      <td>{{produk.stock}}</td>
      <td><button [routerLink]="['/produkDetail', produk.id]" type="button" class="button btn btn-xs btn-primary">Lihat</button></td>
    </tr>
  </tbody>
</table>